.input {
  width: 8.5em;
  margin: 0 8px 0 8px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #dadada;
  height: 2.5em;
}
.input:focus {
  outline: #ffd200;
  border-color: #ffd200;
  color: black;
}
.no_value {
  color: white;
}
.container {
  display: flex;
}
@media (orientation: portrait) {
  .container {
    width: 75%;
    margin: auto;
    justify-content: space-around;
  }
}
