.label {
  display: flex;
  width: 30%;
  height: 2.5em;
  border: 1px solid #dadada;
  justify-content: space-evenly;
  border-radius: 50rem;
}
.label:hover,
.focused {
  border-color: #ffd200;
}
.label:hover *,
.focused * {
  fill: #ffd200;
}
.input {
  border-radius: 50rem;
  width: 70%;
  border: none;
  outline: none;
}
.button {
  border: none;
  background: none;
}
@media (orientation: portrait) {
  .label {
    width: 75%;
    margin: auto;
  }
}
